<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="4.1.10311.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Npgsql" version="2.2.7" targetFramework="net45" />
  <package id="Npgsql.EntityFrameworkLegacy" version="2.2.7" targetFramework="net45" />
  <package id="openrasta-core" version="2.5.63" targetFramework="net45" />
  <package id="openrasta-hosting-aspnet" version="2.5.25" targetFramework="net45" />
  <package id="RestSharp" version="105.2.3" targetFramework="net45" />
  <package id="WiMServices.Test" version="1.0.6032.17739" targetFramework="net45" />
</packages>