<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.data>
    <DbProviderFactories>
      <add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
    </DbProviderFactories>
  </system.data>-->
  <connectionStrings>
    <add name="bltEntities" connectionString="metadata=res://*/BLTEntities.csdl|res://*/BLTEntities.ssdl|res://*/BLTEntities.msl;provider=Npgsql;provider connection string=&quot;Application Name=blt;Database=blt;Host=bltnew.ck2zppz9pgsw.us-east-1.rds.amazonaws.com;Username={0}&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>