<div data-dojo-type="dijit.layout.BorderContainer" class="${baseClass}Root">
	<div style="font-size:18px;padding-top:10px; vertical-align:text-top">
	<label><b>Select Parameters</b></label>
    </div>
    <div class="${baseClass}hr"><hr></div>
    <div class="${baseClass}MoDrop" style="padding-top:5px;" >
    	<div style="padding-left:5px; padding-right:5px;"><label>Application Month</label><br /><select style="width:100%" id="months" name="moSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'">
        <option value="jun13"> January </option>
        <option value="jul13"> February </option>
        <option value="aug13"> March </option>
        <option value="sep13"> April </option>
        <option value="oct13"> May </option>
        <option value="nov13"> June </option>
        <option value="nov13"> July </option>
        <option value="nov13"> August </option>
        <option value="nov13"> September </option>
        <option value="nov13"> October </option>
        <option value="nov13"> November </option>
        <option value="nov13"> December </option>
        </select></div>
    </div>
    <div class="${baseClass}YrDrop" style="padding-top:5px;" >
    	<div style="padding-left:5px; padding-right:5px;"><label>Application Year</label><br /><select style="width:100%" id="months" name="yrSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'">
        <option value="jun13"> 2013 </option>
        <option value="jul13"> 2012 </option>
        <option value="aug13"> 2011 </option>
        </select></div>
    </div>
    <div class="${baseClass}AiDrop" style="clear:both; padding-top:5px;">
		<div style="padding-left:5px; padding-right:5px;">
            <label>Active Ingredient</label><br />
            <select style="width:100%" id="ais" name="aiSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'">
        	    <option value="24d"> All </option>
                <option value="24d"> 2,4-D </option>
                <option value="jun13"> Acephate </option>
                <option value="jun13"> Acid Copper Chromate (ACC) </option>
                <option value="jun13"> Alkaline Copper Quarterary </option>
                <option value="jun13"> Arsenic </option>
                <option value="jun13"> Bifenthrin </option>
                <option value="jun13"> Bis-(N-cyclohexyldiazeniumdioxy)-copper </option>
                <option value="jun13"> Boric Acid </option>
                <option value="jun13"> Capsaicin </option>
                <option value="jun13"> Chlorpyrifos </option>
                <option value="jun13"> Citronella </option>
            </select>
        </div>
    </div>
    <div class="${baseClass}ProdDrop" style="clear:both; padding-top:5px;">
		<div style="padding-left:5px; padding-right:5px;"><label>Product</label><br /><select style="width:100%" id="ais" name="prodSelect" data-dojo-type="dijit.form.FilteringSelect" data-dojo-props="style:'width:200px;'">
        	<option value="24d"> None </option>
            <option value="jun13"> Dyrene </option>
            <option value="jun13"> Liberty </option>
            <option value="jun13"> Mission </option>
            <option value="jun13"> Roundup </option>
            <option value="jun13"> Sniper </option>
        </select></div>
    </div>          
</div>


