<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BLTRDSEntities" connectionString="metadata=res://*/BLTModel.csdl|res://*/BLTModel.ssdl|res://*/BLTModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=BLTRDS;PASSWORD={1};PERSIST SECURITY INFO=True;USER ID={0}&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings> 
</configuration>