<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
  <serverUrls>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either specific URL or stem
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->
    <serverUrl url="http://wim.usgs.gov/arcgis/"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://wim.usgs.gov/arcgis/rest/info?f=json"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://gis.srh.noaa.gov/ArcGIS/"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://50.17.205.92/arcgis/"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="https://services.arcgisonline.com/ArcGIS/rest/services"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://services.arcgisonline.com/ArcGIS/rest/services"
              matchAll="true"
              token=""></serverUrl>
    <serverUrl url="https://www.arcgis.com/sharing"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://www.arcgis.com/sharing"
              matchAll="true"
              token=""></serverUrl>
    <serverUrl url="https://static.arcgis.com"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://static.arcgis.com"
              matchAll="true"
              token=""></serverUrl>
    <serverUrl url="https://server.arcgisonline.com"
               matchAll="true"
               token=""></serverUrl>
    <serverUrl url="http://server.arcgisonline.com"
              matchAll="true"
              token=""></serverUrl>
    <serverUrl url="https://wim.usgs.gov/fonts"
              matchAll="true"
              token=""></serverUrl>
    <serverUrl url="https://wim.usgs.gov/proxies"
             matchAll="true"
             token=""></serverUrl>
    <serverUrl url="https://107.20.206.65"
               matchAll="true"
               token=""></serverUrl>

  </serverUrls>
  
</ProxyConfig>
