

.filterBoxRoot {
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(126, 126, 132);
	/* RGBa with 0.55 opacity */
	background: rgba(126, 126, 132, 1.0);
	/* For IE 5.5 - 7*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7E7E8400, endColorstr=#7E7E8400);*/
	/* For IE 8*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7E7E8400, endColorstr=#7E7E8400)";*/
	border: 1px solid #59595C;
	font-family: BryantRegular, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	color: #E7E4CE;
}

.filterBoxTitleBar {
	/*font: 16pt "Gill Sans", Arial, Helvetica, sans-serif;*/
	background-color: #59595C;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size: 20px;
	font-family: BryantBold, "Lucida Sans Unicode", "Lucida Grande", sans-serif ;
	color:#F37A49;
	
}

.filterBoxTitle {	
	font: 16pt "Gill Sans", Arial, Helvetica, sans-serif;
	width:270px;
	color: #F37A49;
	background-color:#59595C;
}
.filterBoxInner {
	padding:5px;
}


.filterBoxIcon {	
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1em;
	padding-top:1px;
	/*padding-right: 10px;*/
	padding-bottom: 0.1em;
	text-align: center;
	width: 1.1em;	
	float: right;
	cursor: pointer;
		
}

.filterBoxSubHeader {
	/*font:10pt "Gill Sans", Arial, Helvetica, sans-serif;*/
	margin-top: 10px;
	margin-bottom: 5px;
}




/*#paramSelect {
	height: 275px;
	width:300px;
}
.paramSelectorRoot {  
	/* Fallback for web browsers that doesn't support RGBa 
	background: #336699;
	/* RGBa with 0.6 opacity */
	/*background: rgba(51, 51, 51, 0.6);*/
	/* For IE 5.5 - 7*/
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33333300, endColorstr=#33333300);
	/* For IE 8*/
	/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33333300, endColorstr=#33333300)";
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color:#fff;
	text-align: left;
	vertical-align:super;
	-moz-box-align:center;
	-webkit-box-align:center;
	box-align:start;
	position: absolute;
	top: 80px;
	z-index: 40;
	width:500;
	line-height:1.5;
	font-family:Verdana, Geneva, sans-serif;
	margin:0px;
	right:5px;
	padding-left:5px;		
}
.paramSelectorMoDrop, .paramSelectorAiDrop {	
	text-align: left;
	font-weight:bold;	
	font-size:16px;
}
.paramSelectorhr {
	width:98%;
	height:2px;
	margin: 0px auto;
}*/